@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  background: #eeeeee;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Satoshi";
    background-color: #121212;
    color: white;
  }
}
